
/*main purple #7612B2 */
/*yellow #FFAE19 */
/*brighter purple #9F00FF */
/*lighter teal #14CC68 */
/*teal #09B256 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

body {
	color: white;
	background-color: #232323;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main {
	flex: 1 0 auto;
}

p {
	color: lightgrey;
}

.nav-wrapper {
	height: 90px;
	/*border-bottom: solid 7px #7b1fa2;*/
}

.hero {
	background-image: url('./friends-taking-selfie.jpg');
	background-size: cover;
	width: 100vw;
	height: 65vh;
}

.info-border {
	border-left: solid 1px purple;
	margin-top: 0!important;
}

.hero-row {
	margin-bottom: 0!important;
}

.hero-header {
	padding-top: 12vh;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.opener-boys h5, .login h4, .signup h4, .profile-page h4{
	color: #14CC68;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.opener-boys {
	margin-bottom: 0;
}

.opener-icons {
	margin-top: 20px;
}

@media (max-width: 600px){
	
	.info-border{
		border-left: none;
		border-top: 1px solid purple;
	}

	.hero{
		height: 150vh;
		position: relative;
	}

	.hero-header {
		position: relative;
		z-index: 5;
		padding-top: -50px;
	}

	.opener-boys {
		color: white;
		background-color: transparent;
		position: absolute;
		top: 0;
		margin-top: 50vh;
		z-index: 5;
		overflow: scroll;
		height: 100vh;
	}

	.opener-icons {
		color: white;
	}

	.mobile-screen{
		position: relative;
	}

	.mobile-screen:before {
		position: absolute;
		content:" ";
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: block;
		z-index:3;
		background-color: rgba(0,0,0,0.5);
	}
}

.login, .signup {
	height: 75vh;
}

.collections-page h3 {
	margin-left: 40px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	text-decoration: underline;
}

.individual-photo {
	display: inline-block;
}

.individual-photo img {
	width: 20vw;
	height: auto;
	margin: 5px;
}

.collections-page hr {
	border-color: #14CC68;
}

.checkbox-yellow[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #fbc02d ;
     background-color: #fbc02d ;
}

.profile-pic {
	height: 100px;
	width: auto;
}

.profile-pic-frame {
	height: 100px;
	width: 100px;
	overflow: hidden;
	margin: 0 auto;
}

.intro-words {
	color: purple;
}

.collections-display {
	padding-bottom: 50px;
}

/* BASIC LAYOUT STYLING */

.basic-layout {
	background-color: white;
	padding: 50px;
}

.top-row-basic-layout, .top-row-dog-layout {
	margin-top: 50px;
}

.mid-row-basic-layout, .mid-row-dog-layout {
	margin: 50px auto;
}

.bottom-row-basic-layout, .bottom-row-dog-layout {
	margin-bottom: 50px;
}

.basic-layout-photo-frame, .dog-layout-photo-frame {
	height: 200px;
	width: 30vw;
	overflow: hidden;
	margin: 0 auto;
}

.basic-layout-photo-frame-mid, .dog-layout-photo-frame-mid {
	height: 300px;
	width: 50vw;
	margin: 0 auto;
	overflow: hidden;

}

.basic-layout-photo-frame img, .dog-layout-photo-frame img {
	height: 200px;
	width: auto;
}

.basic-layout-photo-frame-mid img, .dog-layout-photo-frame-mid img {
	height: 300px;
	width: auto;
}


/* DOG LAYOUT STYLING */

.dog-layout-photo-frame img {
	border-radius: 50%;
}

































