
/*main purple #7612B2 */
/*yellow #FFAE19 */
/*brighter purple #9F00FF */
/*lighter teal #14CC68 */
/*teal #09B256 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	color: #979797;
	background-color: white;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main {
	flex: 1 0 auto;
}

p {
	color: #525252;
}

.carousel {
	height: 500px!important;
	margin-top: -75px!important;
	margin-bottom: 10px;
}

.carousel-item {
	margin-top: -50px;
}

.nav-wrapper {
	height: 90px;
	background-color: #57FFAF;
	/*border-bottom: solid 7px #7b1fa2;*/
}

.page-footer {
	background-color: #71FFBB!important;
}

.footer-copyright {
	background-color: #57FFAF!important;
}

.hero {
	background-image: url('./friends-taking-selfie.jpg');
	background-size: cover;
	width: 100vw;
	height: 65vh;
	color: white;
}

.hero h2 {
	color: #FF472D;
}

.opener-button {
	background-color: #FF5D46;
}

.info-border {
	border-left: solid 1px #FF472D;
	margin-top: 0!important;
}

.hero-row {
	margin-bottom: 0!important;
}

.hero-header {
	padding-top: 12vh;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.opener-boys h5, .login h4, .signup h4, .profile-page h4{
	color: #FF5D46;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.opener-boys {
	margin-bottom: 0;
}
 
.opener-icons.collections {
	color: grey;
}

.opener-icons {
	margin-top: 20px;
}

@media (max-width: 600px){
	
	.info-border{
		border-left: none;
		border-top: 1px solid #FF472D;
	}

	.hero{
		height: 150vh;
		position: relative;
	}

	.hero-header {
		position: relative;
		z-index: 5;
		padding-top: -50px;
	}

	.opener-boys {
		color: white;
		background-color: transparent;
		position: absolute;
		top: 0;
		margin-top: 50vh;
		z-index: 5;
		overflow: scroll;
		height: 100vh;
	}

	.opener-boys p {
		color: white;
	}

	.opener-icons {
		color: white;
	}

	.mobile-screen{
		position: relative;
	}

	.mobile-screen:before {
		position: absolute;
		content:" ";
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: block;
		z-index:3;
		background-color: rgba(0,0,0,0.5);
	}
}

.login, .signup {
	height: 75vh;
	margin-top: 50px;
}

.signup {
	height: 90vh;
}

.collections-page h3 {
	margin-left: 40px;
	color: #FF5D46;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	text-decoration: underline;
}

.collections-page h5 {
	color: white;
	text-shadow: 1px 1px 2px grey;
}

.individual-photo {
	display: inline-block;
}

.individual-photo img {
	width: 20vw;
	height: auto;
	margin: 5px;
}

hr {
	border: dashed #2BB272;
}

.checkbox-yellow[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #fbc02d;
     background-color: #fbc02d;
}

.profile-pic {
	height: 100px;
	width: auto;
}

.profile-pic-frame {
	height: 100px;
	width: 100px;
	overflow: hidden;
	margin: 0 auto;
}

.intro-words {
	color: purple;
}

.collections-display {
	padding-bottom: 50px;
}

/* BASIC LAYOUT STYLING */

.basic-layout {
	background-color: white;
	padding: 50px;
	position: relative;
}

.top-row-basic-layout, .top-row-dog-layout {
	margin-top: 50px;
}

.mid-row-basic-layout, .mid-row-dog-layout {
	margin: 50px auto;
}

.bottom-row-basic-layout, .bottom-row-dog-layout {
	margin-bottom: 50px;
}

.basic-layout-photo-frame, .dog-layout-photo-frame {
	height: 25vh;
	width: 30vw;
	overflow: hidden;
	margin: 0 auto;
}

.basic-layout-photo-frame-mid, .dog-layout-photo-frame-mid {
	height: 30vh;
	width: 50vw;
	margin: 0 auto;
	overflow: hidden;

}

.basic-layout-photo-frame img, .dog-layout-photo-frame img {
	height: 200px;
	width: auto;
}

.basic-layout-photo-frame-mid img, .dog-layout-photo-frame-mid img {
	height: 300px;
	width: auto;
}


/* DOG LAYOUT STYLING */

.dog-layout {
	background-image: url('https://images1.dawandastatic.com/Product3/82204/82204643/product_l/1432122677-336.jpg');
	background-size: cover;
	padding: 50px;
	position: relative;
	z-index: 0;
}

.top-row-dog-layout, .mid-row-dog-layout, .bottom-row-dog-layout {
	position: relative;
	z-index: 0;
}

.dog-layout-photo-frame img {
	border-radius: 50%;
	border: solid 15px #ccb;
}

.dog-layout-photo-frame-mid img {
	border:solid 2px;
	border-bottom-color:#ffe;
	border-left-color:#eed;
	border-right-color:#eed;
	border-top-color:#ccb;
}

.dog-layout-inner-frame {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.dog-layout-photo-frame-mid {
	background-color:#ddc;
	border:solid 5vmin #eee;
	border-bottom-color:#fff;
	border-left-color:#eee;
	border-radius:2px;
	border-right-color:#eee;
	border-top-color:#ddd;
	box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
	box-sizing:border-box;
	display:inline-block;
	margin:10vh 10vw;
	height:100%;
	padding:8vmin;
	position:relative;
	text-align:center;
		&:before {
		border-radius:2px;
		bottom:-2vmin;
		box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
		content:"";
		left:-2vmin;
		position:absolute;
		right:-2vmin;
		top:-2vmin;
	}
		&:after {
		border-radius:2px;
		bottom:-2.5vmin;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
		content:"";
		left:-2.5vmin;
		position:absolute;
		right:-2.5vmin;
		top:-2.5vmin;
	}
}

.dog-layout-photo-frame.top-left {
	z-index: 5!important;
	margin-top: 100px;
}

.dog-layout-photo-frame.bottom-left {
	z-index: 5!important;
	margin-top: 100px;
}


/* CELEBRATION LAYOUT */

.celebration-layout {
	background-image: url('http://www.freeimageslive.com/galleries/backdrops/glitter/pics/gold_glitter_border.jpg');
	background-size: cover;
	font-family: 'Pacifico', cursive;
}

.celebration-header {
	position: absolute;
	z-index: 5;
	font-size: 70px;
	top: 50px;
	left: 10px;
	transform: rotate(-20deg);
	 background: -webkit-linear-gradient(#eee, #7612B2);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.celebration-layout-top-row, .sunflower-layout-top-row {
	overflow: hidden;
	height: 40vh;
	margin-top: 40px;
}

.celebration-layout-frame, .sunflower-layout-frame, .graphic-layout-frame{
	overflow: hidden;
}

.celebration-layout-middle-row .celebration-layout-frame, .sunflower-layout-middle-row .sunflower-layout-frame {
	width: 50%;
	height: 40vh;
}

/*SUNFLOWER LAYOUT*/

.sunflower-layout {
	background-image: url('http://hddesktopwallpapers.in/wp-content/uploads/2015/11/sunflower-background-images.jpg');
	background-size: cover;
	padding: 100px;
}

.sunflower-layout-bottom-row .sunflower-layout-frame {
	height: 40vh;
}

.window {
	background-color: white;
	padding-left: 0px!important;
	box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
}

.sunflower-layout .row {
	margin-bottom: 10px;
}


/*GRAPHIC DESIGN IS MY PASSION*/

.graphic-layout {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background: linear-gradient(to bottom right, red, yellow);
	color: lightgreen;
	padding: 50px;
}

.froggo {
	width: 200px;
	float: right;
}

.graphic-layout-frame {
	border-radius: 50%;
}

.mostly-human-developer {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.social-icons {
	width: 50px;
	height: 50px;
	display: inline-block;
	filter: opacity(60%);
	margin: 0 4px;
}

.about-opener {
	background-color: #2BB272;
}

.about-names {
	color: #FF5D46;
}

@media(min-width: 993px) {
	.brand-logo {
		margin-left: 15px;
	}
}

.user-info:nth-child(2) {
	display:none!important;
}






